                           /*      Fonts      */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}


*{

font-family: 'Open Sans',  sans-serif;
margin: 0%;
padding: 0%;
box-sizing: border-box;

}




ul{

list-style: none;

}

body{
background-color:#d6e2e9 ;   
background-image: linear-gradient(to bottom,#134074,#8da9c4 );
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* background-image: linear-gradient( #334582 0% ,  #334582 130px ,  #334582 130px ,  #334582 100%); */
}


                        /*----------- container--------- */

.container{
    overflow: hidden ;
    display: flex;
    position: relative;
    border-radius: 5px;
    background: #f6f7ff;
    width: 1369px;
    padding: 0px;
    max-width: 100%;
    height: calc(100vh - 40px);
    box-shadow:  0 1px 1px 0  rgba(0, 0, 0, .1), 0 2px 5px 0  rgba(0, 0, 0, .1)  
    
}


.container .left{

position: relative;
flex: 30%;
background: #fff;
border-right: 1px solid rgba(0, 0, 0, .2);
}

.container .right{

position: relative;
flex: 70%;
background: #fff;


}

.container .right:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(imgs/images\ \(4\).jfif);
    opacity: .3;
}

/* ----------------------left-side-------------------- */
.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #fff; 
}

.user-imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.user-imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.nav-icons{
    display: flex;
}


.nav-icons li{
    cursor: pointer;
    color: #4F6EA7;
    font-size: 1.5rem;
    margin-left: 22px;
    display: flex;
}

.search-chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #255892;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    box-shadow: inset 0px 0px 10px 0px #ddd ;
}

.search-chat input{
    width: 100%;
    outline: none;
    border: none;
    padding: 6px;
    background: #fff;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;

}

.search-chat input::placeholder{
        color: #bbb;
}

.search-chat ion-icon{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.chat-list{
    position: relative;
    max-width: 300px;
    overflow: scroll;
    height: calc(102% - 110px); /* 60+50=110px */
}

.chat-list .chat.active{
    background: #ebebeb;
}

.chat-list .chat:hover{
    background: #f5f5f5;

}

.chat-list .chat{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.chat-list .chat .imgBx{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-list .chat .imgBx img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    object-fit: cover;
}

.chat-list .chat .details{
    position: relative;
    width: 100%;            
} 


.chat-list .chat .details .head{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 5px;
}

.chat-list .chat .details .head .name{
    font-size: 1.1rem;
    font-weight: 600;
    color: #111;

}

.chat-list .chat .details .head .time{
    font-size: .75rem;
    color: #aaa;

}

.chat-list .chat.active .details .head .time{
    color: #111;
}


.chat-list .chat .details .msgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-list .chat .details .msgs .msg{
    color: #aaa;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 1;
    font-size: .9rem;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow:ellipsis ;

}

::-webkit-scrollbar{
    width: 8px;
    background-color: #f6f6f6;
    box-shadow: 0 0 3px #ddd inset;
}

::-webkit-scrollbar-thumb{
    background-color: #a3a9b1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #6b737e;

}


.chat-list .chat .details .unread{
    background: #4F6EA7;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
}

/* <!-- ========= right side ========== --> */
 .user-details{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .user-details h4{
    font-weight: 700;
    line-height: 1.2rem;
    margin-left: 15px;
 }

 .user-details h4 span{
    font-size: .8rem;
    color: #555;
 }

 .chatBx{
    position: relative;
    width: 100%;
    height: calc(100% - 120PX); /*  60PX  + 60PX  = 120PX*/
    padding: 50px;
    overflow-y: auto;
 }
 .chatBx .msg{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
 }

 .chatBx .msg p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #b2d6ff;
    border-radius: 10px;
    font-size: .9rem;
 }

 .chatBx .msg p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    border-top: 10px solid #b2d6ff;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #b2d6ff;

 }

 .chatBx .msg p span{
    display: block;
    margin-top: 5px;
    font-size: .85rem;


 }

 .msg-me{
    justify-content: flex-end;
 }

 .msg-frnd{
    justify-content: flex-start;
 }

 .chatBx .msg-frnd p{
    background: #fff;
    text-align: left;
 }

 .chatBx .msg-frnd p::before{

    content: '';
    position: absolute;
    top: 0;
    right: unset;
    left: -10px;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;

 }

 .chat-input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .chat-input ion-icon{
    cursor: pointer;
    font-size: 1.8rem;
    color: #51585c;
 }

 .chat-input ion-icon:nth-child(1){
    margin-right: 15px;
 }

 .chat-input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
 }